@use 'src/assets/variables';
@import './input-field-variables';

input[type='number'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.m3-input-field-root {
  display: inline-block;
}

.form-field-container {
  position: relative;
  display: flex;
  height: $md-input-field-container-height;
  align-items: baseline;
  width: 100%;

  &.filled {
    border-radius: #{variables.$md-sys-shape-corner-extra-small-top};
    background-color: var(--md-sys-color-surface-variant);
  }
}

.form-field {
  padding: 0 $md-input-field-form-field-padding-x;
}

.form-field-leading-icon {
  margin-left: $md-input-field-leading-icon-left-padding;
  width: $md-input-field-leading-icon-width;
  height: $md-input-field-leading-icon-height;
}