@use '../../assets/variables';
@use './input-field-variables';

.active-indicator-wrapper {
  position: absolute;
  bottom: 0;
  pointer-events: none;
  width: 100%;
}
.active-indicator {
  height: 1px;
  background-color: var(--md-sys-color-on-surface-variant);
  transition: scale 400ms cubic-bezier(0.55, 0, 0.55, 2),
  background-color 400ms cubic-bezier(0.55, 0, 0.55, 2);
  pointer-events: none;
  width: 100%;

  &.focused {
    transform: scaleY(2);
    background-color: var(--md-sys-color-primary);
  }

  &.mouseover {
    transform: scaleY(2);
  }
}

.filled {
  .form-field-main {
    position: relative;
    padding-right: 16px;
    flex: auto;
    align-items: baseline;

    .input-element {
      padding: 0;
      outline: none;
      border: none;
      color: var(--md-sys-color-on-surface);
      @extend .body-large;
      caret-color: var(--md-sys-color-primary);
      background: inherit;
      width: 100%;
      margin-top: 1.375em;
    }

    .form-field-label-wrapper {
      position: absolute;
      user-select: none;
      pointer-events: none;
      overflow: hidden;
      box-sizing: content-box;
      width: 83%;
      height: 100%;
      padding-top: 1em;
      left: 1em;

      .form-field-label {
        display: block;
        position: absolute;
        color: var(--md-sys-color-on-surface-variant);
        @extend .body-large;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
        color 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
        font 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
        line-height 400ms cubic-bezier(0.25, 0.8, 0.25, 1);

        &.populated {
          @extend .focused;
        }

        &.focused {
          @extend .body-small;
          transform: translateY(-0.5rem);
        }
      }
    }
  }
}