$md-input-field-container-height: 56px;
$md-input-field-form-field-padding-x: 16px;
$md-input-field-leading-icon-left-padding: 12px;
$md-input-field-leading-icon-width: 24px;
$md-input-field-leading-icon-height: $md-input-field-leading-icon-width;
