<template>
  <div
    ref="root"
    class="m3-input-field-root material-theme"
    :style="{ width: width }"
    @mouseover="onMouseOver($event)"
    @mouseleave="onMouseLeave($event)"
  >
    <div :class="['form-field-container', appearance, { focused: focus }]">
      <div class="form-field-main">
        <div
          v-if="appearance === 'outline'"
          class="form-field-outline"
          :style="{ maxWidth: width }"
        >
          <div
            class="form-field-outline-start"
            :class="{ focused: focus }"
          ></div>
          <div
            v-if="label"
            class="form-field-outline-gap"
            :class="[{ focused: focus }, { populated: modelValue }]"
            :style="{ maxWidth: getInputElementWidth() + 8 + 'px' }"
          >
            <label class="hidden-label">{{ label }}</label>
          </div>
          <div class="form-field-outline-end" :class="{ focused: focus }"></div>
        </div>
        <template v-if="!!leadingIcon">
          <div class="form-field-leading-icon" :class="{ focused: focus }">
            <MdIcon>{{ leadingIcon }}</MdIcon>
          </div>
        </template>
        <div class="form-field">
          <input
            ref="textFieldElement"
            :type="inputType"
            :value="modelValue"
            class="input-element"
            @input="$emit('update:modelValue', $event.target.value)"
            @focus="onFocus($event)"
            @blur="onBlur($event)"
          />
          <span
            v-if="label"
            class="form-field-label-wrapper"
            :class="{ 'leading-icon': leadingIcon }"
          >
            <label
              ref="labelElement"
              :class="[
                'form-field-label',
                { populated: modelValue && !leadingIcon },
                { 'populated-icon': modelValue && leadingIcon },
                { focused: focus && !leadingIcon },
                { 'focused-icon': focus && leadingIcon },
                appearance,
              ]"
              :style="{
                color: focus
                  ? 'var(--md-sys-color-primary)'
                  : 'var(--md-sys-color-on-surface)',
              }"
              >{{ label }}</label
            >
          </span>
        </div>
      </div>
      <div v-if="appearance === 'filled'" class="active-indicator-wrapper">
        <div
          :class="[
            'active-indicator',
            { focused: focus, mouseover: mouseOver },
          ]"
        ></div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { nextTick, onMounted, ref, watch } from 'vue';
import MdIcon from '@/components/md-icon/md-icon.vue';

const props = defineProps<{
  modelValue: unknown;
  label?: string;
  leadingIcon?: string;
  appearance?: 'filled' | 'outline';
  width?: string;
  type?: string;
  supportingText?: string;
}>();
const emit = defineEmits<{
  (e: 'update:modelValue', value: string): void;
  (e: 'focus', value: FocusEvent): void;
  (e: 'blur', value: FocusEvent): void;
  (e: 'mouseover', value: MouseEvent): void;
  (e: 'mouseleave', value: MouseEvent): void;
}>();

const root = ref<HTMLElement | null>(null);
const textFieldElement = ref<HTMLInputElement | null>(null);
const labelElement = ref<HTMLLabelElement | null>(null);
const focus = ref<boolean>(false);
const mouseOver = ref<boolean>(false);
const width = ref<string>('180px');
const inputType = ref<string>('text');
const appearance = ref<'filled' | 'outline'>('filled');
const labelValue = ref<string>();
const labelWidth = ref<number>();
watch(
  () => props.label,
  (value) => {
    labelValue.value = value;
    nextTick(() => {
      labelWidth.value = getLabelWidth();
    });
  }
);
const getRootWidth = () => (root.value as HTMLElement).clientWidth;
const getInputElementWidth = () =>
  (textFieldElement.value as HTMLInputElement).clientWidth;

const getLabelWidth = () => {
  if (!labelElement.value || !root.value) return 0;
  // console.log(labelElement.value.offsetWidth);
  return labelValue.value
    ? Math.min(
        labelElement.value.scrollWidth * 0.75 + 6,
        root.value.offsetWidth - 24
      )
    : 0;
};

const onFocus = (event: FocusEvent) => {
  focus.value = true;
  emit('focus', event);
};

const onBlur = (event: FocusEvent) => {
  focus.value = false;
  emit('blur', event);
};

const onMouseOver = (event: MouseEvent) => {
  mouseOver.value = true;
  emit('mouseover', event);
};
const onMouseLeave = (event: MouseEvent) => {
  mouseOver.value = false;
  emit('mouseleave', event);
};
onMounted(() => {
  if (props.width) width.value = props.width;
  if (props.type) inputType.value = props.type;
  if (props.appearance) appearance.value = props.appearance;
});
</script>

<style scoped lang="scss">
// https://m3.material.io/components/text-fields/specs
// https://material.angular.io/components/input/examples

@use 'src/assets/m3-default.css';
@use 'src/assets/variables';
@import 'common';
@import 'filled-input-field';
@import 'outline-input-field';
</style>
