@use 'sass:math';
@use 'src/assets/m3-default.css';
@use "src/assets/variables";
@import "./input-field-variables";

.hidden-label {
  @extend .body-small;
  visibility: hidden;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 4px;
}

.outline {
  .form-field-main {
    display: flex;
    position: relative;
    align-items: center;
    flex-grow: 1;
    flex-direction: row;
    height: 100%;

    .form-field-outline {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      .form-field-outline-start {
        flex: 0 0 12px;
        border: 1px solid var(--md-sys-color-outline);
        border-radius: #{variables.$md-sys-shape-corner-extra-small} 0 0 #{variables.$md-sys-shape-corner-extra-small};
        border-right-style: none;

        &.focused {
          border-color: var(--md-sys-color-primary);
        }
      }

      .form-field-outline-gap {
        flex: none;
        position: relative;
        border: 1px solid var(--md-sys-color-outline);
        border-left-style: none;
        border-right-style: none;

        &.focused {
          border-color: var(--md-sys-color-primary);
          border-top-style: none;
        }

        &.populated {
          border-top-style: none;
        }
      }

      .form-field-outline-end {
        min-width: 12px;
        border: 1px solid var(--md-sys-color-outline);
        border-radius: 0 #{variables.$md-sys-shape-corner-extra-small} #{variables.$md-sys-shape-corner-extra-small} 0;
        border-left-style: none;
        flex: 1;

        &.focused {
          border-color: var(--md-sys-color-primary);
        }
      }
    }

    .input-element {
      position: relative;
      padding: 0;
      outline: none;
      border: none;
      color: var(--md-sys-color-on-surface);
      @extend .body-large;
      caret-color: var(--md-sys-color-primary);
      background: inherit;
      width: 100%;
    }

    .form-field-label-wrapper {
      position: absolute;
      user-select: none;
      pointer-events: none;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      box-sizing: content-box;
      width: 83%;
      height: 1.1em;
      top: calc(var(--md-sys-typescale-caption-size) / -2);
      padding-top: 24px;
      left: $md-input-field-form-field-padding-x;

      &.leading-icon {
        padding-left: calc(#{$md-input-field-leading-icon-width} + #{$md-input-field-leading-icon-left-padding});
      }

      .form-field-label {
        display: block;
        position: absolute;
        color: var(--md-sys-color-on-surface-variant);
        @extend .body-large;

        height: 100%;
        line-height: var(--md-sys-typescale-caption-line-height);
        transition: transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
        color 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
        font 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
        line-height 400ms cubic-bezier(0.25, 0.8, 0.25, 1);

        &.populated {
          @extend .focused;
        }

        &.populated-icon {
          @extend .focused-icon;
        }


        &.focused {
          @extend .body-small;

          transform: translateY(-24px);
        }

        &.focused-icon {
          @extend .body-small;

          transform: translateX(calc(-#{$md-input-field-leading-icon-width} - #{$md-input-field-leading-icon-left-padding})) translateY(-24px);
        }
      }
    }
  }
}
