@use "sass:math";
@use 'src/assets/variables';

$md-switch-track-width: 52px;
$md-switch-track-height: 32px;
$md-switch-track-outline-width: 2px;
$md-switch-track-shape: $md-switch-track-height;

$md-switch-thumb-height: 16px;
$md-switch-thumb-height-with-icon: 24px;
$md-switch-thumb-height-selected: 24px;
$md-switch-thumb-height-pressed: 28px;
$md-switch-thumb-width: $md-switch-thumb-height;
$md-switch-thumb-width-with-icon: $md-switch-thumb-height-with-icon;
$md-switch-thumb-width-selected: $md-switch-thumb-height-selected;
$md-switch-thumb-width-pressed: $md-switch-thumb-height-pressed;
$md-switch-thumb-shape: $md-switch-thumb-height;
$md-switch-thumb-transition: all 200ms cubic-bezier(0, 0, .2, 1);

$md-switch-thumb-hover-highlight-offset: 4px;
$md-switch-thumb-hover-highlight-opacity: 30%;
$md-switch-thumb-hover-highlight-color: #323436;
$md-switch-thumb-hover-highlight-height: $md-switch-track-height + $md-switch-thumb-hover-highlight-offset;
$md-switch-thumb-hover-highlight-transition: transform, opacity 200ms cubic-bezier(0, 0, .2, 1);

// https://m3.material.io/components/switch/specs
@mixin default-thumb($selected: false) {
  position: absolute;
  cursor: pointer;
  pointer-events: fill;
  top: math.div($md-switch-track-height, 2) -
    math.div($md-switch-thumb-height, 2);
  left: math.div($md-switch-track-height, 2) -
    math.div($md-switch-thumb-width, 2);
  height: $md-switch-thumb-height;
  width: $md-switch-thumb-width;
  border-radius: $md-switch-thumb-shape;
  background-color: var(--md-sys-color-outline);
  transition: $md-switch-thumb-transition;
  @if $selected {
    top: math.div($md-switch-track-height, 2) -
      math.div($md-switch-thumb-height-selected, 2);
    left: math.div($md-switch-track-height, 2) -
      math.div($md-switch-thumb-width-selected, 2);
    height: $md-switch-thumb-height-selected;
    width: $md-switch-thumb-width-selected;
    background-color: var(--md-sys-color-on-primary);
    transform: translateX(
                    $md-switch-track-width - $md-switch-track-height
    );
  }
}

@mixin default-track-state-layer($selected: false) {
  left: -#{$md-switch-track-outline-width};
  top: -#{$md-switch-track-outline-width};
  position: absolute;
  width: $md-switch-track-width;
  height: $md-switch-track-height;
  border-radius: $md-switch-track-shape;
  @if $selected {
    background: var(--md-sys-color-primary);
  } @else {
    background: var(--md-sys-color-on-surface);
  }
}

@mixin default-track($selected: false) {
  position: absolute;
  cursor: pointer;
  pointer-events: fill;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--md-sys-color-surface-variant);
  border-style: solid;
  border-color: var(--md-sys-color-outline);
  border-radius: $md-switch-track-shape;
  border-width: $md-switch-track-outline-width;
  @if $selected {
    border-color: var(--md-sys-color-primary);
    background-color: var(--md-sys-color-primary);
  }
}

.m3-switch-root {
  display: flex;
  position: relative;

  height: $md-switch-track-height;
  width: $md-switch-track-width;

  .track {
    @include default-track;
  }
  .thumb {
    @include default-thumb;
  }
  .thumb-hover-highlight {
    @include default-thumb;
    top: -(math.div($md-switch-thumb-hover-highlight-offset, 2));
    left: -(math.div($md-switch-thumb-hover-highlight-offset, 2));
    height: $md-switch-thumb-hover-highlight-height;
    width: $md-switch-thumb-hover-highlight-height;
    transition: $md-switch-thumb-hover-highlight-transition;
    background: none;
    opacity: 0;
  }
  &.selected {
    .thumb {
      @include default-thumb(true);
    }
    .track {
      @include default-track(true);
    }
  }
  &.hover {
    .thumb-hover-highlight {
      @include default-thumb;
      border-radius: 50%;
      top: -(math.div($md-switch-thumb-hover-highlight-offset, 2));
      left: -(math.div($md-switch-thumb-hover-highlight-offset, 2));
      height: $md-switch-thumb-hover-highlight-height;
      width: $md-switch-thumb-hover-highlight-height;
      background-color: $md-switch-thumb-hover-highlight-color;
      opacity: $md-switch-thumb-hover-highlight-opacity;
      transition: $md-switch-thumb-hover-highlight-transition;
    }
    .track .track-state-layer {
      @include default-track-state-layer;
      opacity: variables.$md-sys-state-hover-state-layer-opacity;
    }
  }
  &.selected.hover {
    .thumb-hover-highlight {
      @include default-thumb(true);
      border-radius: 50%;
      top: -(math.div($md-switch-thumb-hover-highlight-offset, 2));
      left: -(math.div($md-switch-thumb-hover-highlight-offset, 2));
      height: $md-switch-thumb-hover-highlight-height;
      width: $md-switch-thumb-hover-highlight-height;
      background-color: $md-switch-thumb-hover-highlight-color;
      opacity: $md-switch-thumb-hover-highlight-opacity;
      transition: $md-switch-thumb-hover-highlight-transition;
    }
    .track .track-state-layer {
      @include default-track-state-layer(true);
      opacity: variables.$md-sys-state-hover-state-layer-opacity;
    }
  }
}

input[type='checkbox'] {
  //display: none;
  appearance: none;
  border-radius: $md-switch-track-height;
  margin: 0;
  padding: 0;
  pointer-events: all;
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
}