<template>
  <div
    class="m3-switch-root material-theme"
    :class="{ selected: modelValue, hover: hover, disabled, pressed }"
  >
    <div class="track">
      <div class="track-state-layer"></div>
    </div>
    <div class="thumb"></div>
    <div class="thumb-hover-highlight"></div>
    <input
      type="checkbox"
      role="switch"
      :value="switchValue"
      @input="onInput()"
      @mouseover="onMouseOver($event)"
      @mouseout="onMouseOut($event)"
      @mousedown="onMouseDown($event)"
      @mouseup="onMouseUp($event)"
      @focus="onFocus($event)"
      @blur="onBlur($event)"
    />
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue';

const switchValue = ref<boolean>();
const hover = ref<boolean>();
const focus = ref<boolean>();
const pressed = ref<boolean>();

const props = defineProps<{
  modelValue: boolean;
  disabled?: boolean;
}>();

const emit = defineEmits<{
  (e: 'update:modelValue', value: boolean): void;
  (e: 'focus', event: FocusEvent): void;
  (e: 'blur', event: FocusEvent): void;
  (e: 'mouseover', event: MouseEvent): void;
  (e: 'mouseout', event: MouseEvent): void;
  (e: 'mousedown', event: MouseEvent): void;
  (e: 'mouseup', event: MouseEvent): void;
}>();

const onInput = () => {
  switchValue.value = !switchValue.value;
  emit('update:modelValue', switchValue.value);
};

const onFocus = (event: FocusEvent) => {
  focus.value = true;
  emit('focus', event);
};

const onBlur = (event: FocusEvent) => {
  focus.value = false;
  emit('blur', event);
};

const onMouseOver = (event: MouseEvent) => {
  hover.value = true;
  emit('mouseover', event);
};
const onMouseOut = (event: MouseEvent) => {
  hover.value = false;
  emit('mouseout', event);
};
const onMouseDown = (event: MouseEvent) => {
  pressed.value = false;
  emit('mousedown', event);
};
const onMouseUp = (event: MouseEvent) => {
  pressed.value = false;
  emit('mouseup', event);
};
onMounted(() => {
  switchValue.value = props.modelValue;
});
</script>

<style scoped lang="scss">
@use 'm3-switch';
@use 'sass:math';
</style>
