@use 'sass:color';
$default-ripple-color: #0000001a;

.ripple-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  border-radius: inherit;
}

.my-ripple-element {
  position: absolute;

  z-index: 1;
  display: block;
  background-color: var(--md-sys-color-primary);
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  transition: opacity, transform cubic-bezier(0, 0, 0.2, 1);
  transform: scale3d(0, 0, 0);
  opacity: 0.25;

}