@use 'src/assets/variables';
@use 'sass:color';

$md-sys-color-shadow: #3d4041;
$container-height: 40px;
$container-shape: $container-height;
$container-padding: 24px;
$md-sys-color-surface: var(--md-sys-color-surface);
$md-sys-color-surface-tint: var(--md-sys-color-primary);
$container-disabled-opacity: 12%;
$container-disabled-text-opacity: 0.38;

button, input[type=button] {
  appearance: none;
  border: none;
  padding: 0;
}

.container {
  height: $container-height;
  border-radius: $container-shape;
  padding-right: $container-padding;
  user-select: none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;

  :hover {
    cursor: pointer;
  }

  &.elevated {
    // Container
    background-color: rgba(var(--md-sys-color-primary), 0.5);
    box-shadow: 0 3px 3px 0 rgba($md-sys-color-shadow, 0.3), 0px -2px 5px -1px rgba($md-sys-color-shadow, 0.2);

    // Label text
    color: var(--md-sys-color-primary);
    font-size: var(--md-sys-typescale-button-size);
    font-weight: var(--md-sys-typescale-button-weight);
    font-family: var(--md-sys-typescale-button-font);
    line-height: var(--md-sys-typescale-button-line-height);
    letter-spacing: var(--md-sys-typescale-button-tracking);

  }

  &.disabled {
    cursor: none;
    background-color: var(--md-sys-color-on-surface);
    opacity: $container-disabled-opacity;
    color: rgba(var(--md-sys-color-on-surface), #{$container-disabled-text-opacity});
  }

  .btn-overlay {
    position: absolute;
    border-radius: $container-shape;
    height: 100%;
    width: 100%;
    transition: all 200ms cubic-bezier(0, 0, 0.2, 1);
    background: none;
    opacity: 0;

    &.hover {
      background-color: var(--md-sys-color-primary);
      opacity: variables.$md-sys-state-hover-state-layer-opacity;
    }
  }

  .icon {
    padding-left: 16px;
    color: var(--md-sys-color-primary);
  }
}