<template>
  <button
    v-my-ripple="!disabled"
    :class="['material-theme', 'container', appearance]"
    @click="onClick"
    @mouseover="onMouseOver"
    @mouseout="onMouseOut"
  >
    <template v-if="!icon">
      <MdIcon class="icon">search</MdIcon>
    </template>
    <span :style="{ paddingLeft: !icon ? '8px' : '24px' }">
      {{ label }}
    </span>
    <span class="btn-overlay" :class="{ hover: hover }"></span>
  </button>
</template>

<script setup lang="ts">
import { Appearance } from '@/components/m3-button/Appearance';
import { onMounted, ref } from 'vue';
import MdIcon from '@/components/md-icon/md-icon.vue';

const props = defineProps<{
  icon?: string;
  disabled?: boolean;
  label?: string;
  appearance?: Appearance;
}>();

const appearance = ref<Appearance>(Appearance.TEXT);
const hover = ref<boolean>(false);

const emit = defineEmits<{
  (e: 'click', evt: MouseEvent): void;
  (e: 'mouseover', evt: MouseEvent): void;
  (e: 'mouseout', evt: MouseEvent): void;
}>();

const onClick = (e: MouseEvent) => {
  emit('click', e);
};

const onMouseOver = (e: MouseEvent) => {
  hover.value = true;
  emit('mouseover', e);
};
const onMouseOut = (e: MouseEvent) => {
  hover.value = false;
  emit('mouseout', e);
};
onMounted(() => {
  if (props.appearance) appearance.value = props.appearance;
});
</script>

<style scoped lang="scss">
@import './m3-button.scss';
</style>
