
$md-sys-shape-corner-extra-small: 4px;
$md-sys-shape-corner-extra-small-top: $md-sys-shape-corner-extra-small $md-sys-shape-corner-extra-small 0 0;
$md-sys-shape-corner-small: 8px;
$md-sys-shape-corner-medium: 12px;
$md-sys-shape-corner-large: 16px;
$md-sys-shape-corner-large-end: 0 $md-sys-shape-corner-large $md-sys-shape-corner-large 0;
$md-sys-shape-corner-large-top: $md-sys-shape-corner-large $md-sys-shape-corner-large 0 0;
$md-sys-shape-corner-extra-large: 28px;
$md-sys-shape-corner-extra-large-top: $md-sys-shape-corner-extra-large $md-sys-shape-corner-extra-large 0 0;

$md-sys-state-hover-state-layer-opacity: 8%;
$md-sys-state-focus-state-layer-opacity: 12%;
$md-sys-state-pressed-state-layer-opacity: 12%;
$md-sys-state-dragged-state-layer-opacity: 16%;