<template>
  <th
    class="table-cell"
    :style="{ width, 'flex-direction': !reverse ? 'row' : 'row-reverse' }"
    :colspan="colSpan"
    @click="$emit('click', $event)"
  >
    <slot></slot>
  </th>
</template>

<script setup lang="ts">
defineProps<{
  colSpan?: number;
  width?: string;
  reverse?: boolean;
}>();
defineEmits<{
  (e: 'click', ev: PointerEvent): void;
}>();
</script>

<style scoped lang="scss">
@import 'data-table-cell';
</style>
