@use 'src/assets/m3-default.css';

$table-container-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024,
0 3px 14px 2px #0000001f;

.table {
  display: block;
  font-family: var(--md-sys-typescale-body2-font);
  font-weight: var(--md-sys-typescale-body2-weight);
  font-size: var(--md-sys-typescale-body2-size);
  width: 100%;
  height: 100%;
  position: relative;
  border-collapse: collapse;
}

.table-container {
  max-width: 100%;
  overflow: auto;
  box-shadow: $table-container-shadow;
  padding: 0;
  margin: 0;

  &::-webkit-scrollbar {
    position: absolute;
    display: block;
    width: 0.5em;
    height: 100%;
  }

  &::-webkit-scrollbar-thumb {
    display: block;
    background: rgba(1, 1, 1, 0.1);
    border-radius: 0.3em;
  }

  &::-webkit-scrollbar-track {
    background: none;
    opacity: 0;
  }

  scrollbar-gutter: auto;
}