.table-cell {
  font: inherit;
  overflow: scroll;
  padding-left: 24px;
  padding-right: 24px;
  display: inline-flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  flex-wrap: nowrap;
  align-items: center;
  color: inherit;
  background: inherit;
  min-height: inherit;
  height: 100%;
  scrollbar-width: none; // Firefox
}

.table-cell::-webkit-scrollbar {
  display: none; // Chrome
}