<template>
  <td class="table-cell" :style="{ width }" @click="$emit('click', $event)">
    <slot></slot>
  </td>
</template>

<script setup lang="ts">
defineProps<{
  colSpan?: number;
  width?: string;
}>();
defineEmits<{
  (e: 'click', ev: PointerEvent): void;
}>();
</script>

<style scoped lang="scss">
@import 'data-table-cell';
</style>
