<template>
  <div
    class="material-theme table-container"
    :style="{ height: tableContainerHeight, width: tableContainerWidth }"
  >
    <table ref="dataTable" class="table">
      <!-- Headers -->
      <template v-for="(row, index) in headerRows" :key="index">
        <DataTableRow :header="true" :sticky="sticky">
          <template v-for="header in row.headers" :key="header.label">
            <DataTableHeaderCell
              :width="header.width"
              @click="onHeaderCellClick($event)"
              >{{ header.label }}
            </DataTableHeaderCell>
          </template>
        </DataTableRow>
      </template>
      <!-- Data -->
      <template v-for="(item, index) in displayData()" :key="index">
        <DataTableRow>
          <template v-for="header in headers" :key="header">
            <DataTableDataCell :width="header.width">
              <slot :name="`item[${header.property}]`" :item="item">
                {{ getPropertyValue(item, header.property) }}
              </slot>
            </DataTableDataCell>
          </template>
        </DataTableRow>
      </template>
      <!-- Footer -->
      <template v-if="pagination">
        <DataTableRow footer>
          <DataTableHeaderCell :col-span="headers.length" :reverse="true">
          </DataTableHeaderCell>
        </DataTableRow>
      </template>
    </table>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue';
import type { IDataTableHeader } from '@/components/interfaces/IDataTableHeader';
import DataTableRow from '@/components/data-table/DataTableRow.vue';
import DataTableDataCell from '@/components/data-table/DataTableDataCell.vue';
import DataTableHeaderCell from '@/components/data-table/DataTableHeaderCell.vue';
import { SortOrder } from '@/components/interfaces/SortOrder';
import type { ErrorMessage } from '@/components/data-table/ErrorMessage';

interface IHeaderRow {
  // if I try change type from unknown to IDataTableHeader eslint in IDEA cannot analyze this file
  headers: unknown[];
  width?: string;
}

const props = defineProps<{
  data: unknown[];
  headers: IDataTableHeader[];
  height?: string;
  width?: string;
  expandable?: boolean;
  rowStyle?: (data: unknown) => { [key: string]: string };
  pagination?: boolean;
  listOfPageSize?: number[];
  sticky?: boolean;
}>();
const defaultListOfPageSize = [10, 25, 50];
const selectedPageSize = ref<number>(defaultListOfPageSize[0]);
const dataTable = ref<InstanceType<typeof HTMLDivElement> | null>(null);
const sortFnArray = ref<((a: unknown, b: unknown) => number)[]>([]);
const headerRows = ref<IHeaderRow[]>([]);
const tableContainerHeight = ref<string>('40vh');
const tableContainerWidth = ref<string>('100vw');
const listOfPageSize = ref<number[]>([]);
const displayData = ref<() => unknown[]>(() => {
  let data = props.data;
  props.headers
    .filter((h) => h.sort && h.sortOrder != SortOrder.NONE)
    .forEach((h) => sortFnArray.value.push(createSortFn(h)));
  for (const sortFn of sortFnArray.value) {
    data = data.sort(sortFn);
  }
  return data;
});

const emit = defineEmits<{
  (e: 'onHeaderCellClick', ev: PointerEvent): void;
}>();

const isBothString = (a: unknown, b: unknown) =>
  typeof a === 'string' && typeof b === 'string';
const isBothNumber = (a: unknown, b: unknown) =>
  typeof a === 'number' && typeof b === 'number';
const compare = (a: unknown, b: unknown, order: SortOrder) => {
  if (SortOrder.NONE) return 0;
  if (isBothString(a, b)) {
    return order === SortOrder.ASC
      ? (a as string).localeCompare(b as string)
      : (b as string).localeCompare(a as string);
  }
  if (isBothNumber(a, b)) {
    return order === SortOrder.ASC
      ? (a as number) - (b as number)
      : (b as number) - (a as number);
  }
  return order === SortOrder.ASC
    ? (a as string).localeCompare(b as string)
    : (b as string).localeCompare(a as string);
};

const createSortFn = (
  header: IDataTableHeader
): ((a: unknown, b: unknown) => number) => {
  if (header.compareFn) return header.compareFn;

  switch (header.sortOrder) {
    case SortOrder.NONE:
      break;
    case SortOrder.ASC:
      return (a: unknown, b: unknown): number => {
        const aValue = (a as Record<string, unknown>)[header.property];
        const bValue = (b as Record<string, unknown>)[header.property];
        return compare(aValue, bValue, header.sortOrder ?? SortOrder.NONE);
      };
    case SortOrder.DESC:
      return (a: unknown, b: unknown): number => {
        const aValue = (a as Record<string, unknown>)[header.property];
        const bValue = (b as Record<string, unknown>)[header.property];
        return compare(aValue, bValue, header.sortOrder ?? SortOrder.NONE);
      };
  }
  return (a: unknown, b: unknown) => 0;
};
const isPropsValid = (): ErrorMessage => {
  let error = '';
  if (!props.headers) {
    error = 'headers is empty or undefined';
    return error;
  }
  if (props.height) tableContainerHeight.value = props.height;
  if (props.width) tableContainerWidth.value = props.width;
  if (props.listOfPageSize) listOfPageSize.value = props.listOfPageSize;
  return undefined;
};
const createHeaderRows = (headers: IDataTableHeader[]): IHeaderRow[] => {
  return [
    {
      headers: headers as unknown[],
    },
  ];
};

const getHeaders = () => {
  return headerRows.value.reduce<IDataTableHeader[]>((prev, curr) => {
    return [...prev, ...(curr.headers as IDataTableHeader[])];
  }, []);
};
const getPropertyValue = (item: unknown, property: string): unknown => {
  return (item as { [key: string]: unknown })[property] ?? '';
};

onMounted(() => {
  const error = isPropsValid();
  if (error) throw error;
  headerRows.value = createHeaderRows(props.headers);
});

const onHeaderCellClick = (e: PointerEvent) => emit('onHeaderCellClick', e);
</script>

<style scoped lang="scss">
@use '../../assets/m3-default.css';
@use 'data-table';
</style>
