<template>
  <tr
    :class="{ 'table-row': true, header: header }"
    :style="{
      position: sticky || footer ? 'sticky' : undefined,
      background: 'white',
      top: header ? 0 : null,
      bottom: footer ? 0 : null,
      'z-index': header || footer ? 1 : null,
    }"
  >
    <slot></slot>
  </tr>
</template>

<script setup lang="ts">
defineProps<{
  header?: boolean;
  sticky?: boolean;
  colSpan?: number;
  footer?: boolean;
}>();
</script>

<style scoped lang="scss">
@use '../../assets/m3-default.css';

.table-row {
  font: inherit;
  min-height: 36px;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}
.header {
  font-weight: 600;
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface);
}
@at-root .table-row:not(:last-of-type) {
  border-bottom-width: 1px;
  border-bottom-color: #0000001f;
}
</style>
