<script setup lang="ts">
import DataTable from '@/components/data-table/DataTable.vue';
import M3TextField from '@/components/m3-input-field/M3InputField.vue';
import { ref } from 'vue';
import M3Switch from '@/components/m3-switch/M3Switch.vue';
import M3Button from '@/components/m3-button/M3Button.vue';

const myValue = ref<unknown>();
const myValue1 = ref<unknown>();
const title = ref<string>();
const switchValue = ref<boolean>();
const headers = [
  { label: 'Name', property: 'name', width: '200px' },
  { label: 'Price', property: 'price' },
  { label: 'Actions', property: 'action' },
];

const phones = [
  {
    name: 'Sony Ericsson K810i',
    price: 30,
  },
  {
    name: 'Nokia 5630',
    price: 25,
  },
  {
    name: 'iPhone 4',
    price: 200,
  },
  {
    name: 'iPhone 5s',
    price: 300,
  },
  {
    name: 'Xiaomi Redmi Note 4X',
    price: 100,
  },
  {
    name: 'iPhone 7',
    price: 500,
  },
  {
    name: 'iPhone 11',
    price: 1000,
  },
  {
    name: 'Samsung Galaxy A12',
    price: 110,
  },
  {
    name: 'Xiaomi Mi 9T',
    price: 200,
  },
  {
    name: 'Samsung Galaxy S20',
    price: 1000,
  },
];

const onClick = (item: unknown) => {
  console.log(item);
};
</script>

<template>
  <div class="material-theme">
    <DataTable
      :data="phones"
      :headers="headers"
      height="30vh"
      sticky
      pagination
    >
      <template #item[action]="{ item }">
        <button @click="onClick(item)">Btn</button>
      </template>
    </DataTable>
    <M3TextField
      v-model="title"
      appearance="filled"
      type="text"
      style="margin-top: 1em"
      :label="title"
    ></M3TextField>
    <M3TextField
      v-model="myValue"
      appearance="outline"
      type="number"
      style="margin-top: 1em"
      :label="title"
    ></M3TextField>
    <M3Switch v-model="switchValue"></M3Switch>
    <div
      v-my-ripple
      style="
        margin-top: 1em;
        border: 1px solid #1c1b1f;
        height: 200px;
        width: 200px;
      "
    ></div>
    <M3Button appearance="elevated" label="Button"></M3Button>
  </div>
</template>

<style lang="scss">
@import './assets/m3-default.css';
</style>
